.centered {
	text-align: center;
}

/* jQuery BlockUI plugin CSS */
div.blockMsg {
	border:           none;
	padding:          15px;
	background-color: #000;
	-webkit-border-radius: 10px;
	opacity:          .8;
	color:            #fff;
	width:            60%;
	top:              40%;
	left:             20%;
	text-align:       center;
}

.date-picker-label {
	text-align: right;
	padding-top: 0.4em;
	padding-right: 0.2em;
}

.menu-label {
	text-align: center;
	padding-top: 0.4em;
}